<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiteTwitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32E68C932085D60500E2F8FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E68CAA2085D60E00E2F8FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E68CB52085D60E00E2F8FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
